# Required
BOT_TOKEN=8843226061:AAEQO8Fjr2YCLusUntLSp0CM1TayFA5YfuE
API_ID=120340960
API_HASH=731d6413f609e18766e56908534d4ae2
DATABASE_URI=mongodb+srv://sonicdriftx1:sonicdriftx1@cluster0.gq54o7o.mongodb.net/?appName=Cluster0
LOG_CHANNEL=-1004323984301
ADMINS=597083078

# Recommended
CHANNELS=-1004305179553
BIN_CHANNEL=-1004323984301
DATABASE_NAME=Cluster0
COLLECTION_NAME=dreamcinezone_files

# Web and streaming
PORT=8080
FQDN=your-app-name.onrender.com
HAS_SSL=True
NO_PORT=True
STREAM_MODE=True
PREMIUM_STREAM_MODE=False

# Force subscription
AUTH_CHANNELS=-1002291183390
AUTH_REQ_CHANNELS=-1002291183390
REQST_CHANNEL_ID=-1002291183390
SUPPORT_CHAT_ID=-1002291183390
SUPPORT_CHAT=https://t.me/cvpredvd

# Optional features
IS_VERIFY=False
MAINTENANCE=False
TMDB_API_KEY=
SHORTENER_WEBSITE=
SHORTENER_API=
